/*FONTES IMPORTADAS DO GOOGLE FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/*FIM DAS FONTES IMPORTADAS*/

/*---------------------------------------------------------------------------------------*/

/*INICIO DA DECLARAÇÃO DE VARIÁVEIS*/

:root{
    --cor-primaria: #000000;
    --cor-secundaria:#F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
    --font-size-texto: 1.5rem;
}

/*FIM DA DECLARÇÃO DAS VARIAVEIS*/

/*--------------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    /* height: 100vh; */
    background-color: var(--cor-primaria); /*DECLARANDO UMA VARIAVEL*/
    color:var(--cor-secundaria)
}

.cursos {
    color: #c4d10d;
    text-decoration: underline;
    font-size: 24px;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: var(--font-size-texto);
    color: var(--cor-terciaria); 
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria); 
}

.titulo-destacado {
    color: var(--cor-terciaria); 
}

.apresentacao-conteudo-texto {
    font-size: var(--font-size-texto);
    font-family: var(--fonte-secundaria);
}

.apresentacao-links { 
    display: flex; /* coloca os quadrados lado a lado */
    flex-direction: column; /* coloca os quadrados um abaixo do outro */
    justify-content: space-between; /*alinha os quadrados no centro*/
    align-items: center;
    gap: 32px;  /* adiciona espaços iguais entre cada quadrado */
}

.apresentacao-links-subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--font-size-texto);
}

.apresentacao-links-navegacao {
    /* background-color: #22D4FD;  -- Control + K + C comenta */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria); 
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: var(--font-size-texto);
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: var(--fonte-secundaria);
}

.apresentacao-links-link:hover {
    background-color: var(--cor-hover);
}

.apresentacao-imagem {
    width: 80%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria); 
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--font-size-texto);
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 13%;
    }

    .cabecalho-menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: auto;
    }

}